.image-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(65, 100, 100);
}

img{
    width: 10%;
    object-fit: contain;
    background-color: rgb(65, 100, 100);
    background-blend-mode: soft-light;
    mix-blend-mode: darken;

}